.logo{
	font-size: 25px;

 }
.menu{
	list-style: none;
}
.container{
	min-width: 100%; 
    min-height: 100%; 
    position: relative;
}
.container_header{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 auto;



}
.header_item{
color: #FAFF00;
 font-size: 18px;
 font-family: Montserrat ;
 font-weight: 400;
 text-decoration: none;
}
.header_list{
	display: flex;

}
.header_item{
	margin-right: 63px;
}
.shapka{
	background: black;

}
.header_title{

color: #FFF500;
 font-size: 48px;
 font-family: Nerko One;
 font-weight: 400;
 word-wrap: break-word;
 margin-right: 45px;
 margin-left: 61px;

}
.menu:first-child a{
	color: #FF2E00;
}

/*Стили первого раздела*/

.hero_block{
	margin: 0px ;
	
}

.container_hb{
	display: flex;
	background: #2C2C2C;
	align-items: center;
	justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 900%;
    

}
.hb_img{
width: 440px;
margin-left: 121px;
}
.hb_title{
	color: #FAFF00;
font-size: 64px;
font-family: Montserrat;
font-weight: 400;
word-wrap: break-word;
max-width: 350px;
margin: 0px;
padding-bottom: 30px;


}
.hb_text{
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 500px;
margin: 0;
padding-bottom: 30px;
margin-right: 200px;
}
.hb_btn{
	border-radius: 20px;
background: orange linear-gradient(87deg, #E2A300 4.47%, #E29500 95.53%);
box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
    padding: 12px 20px;
    border: none;
/*  Стили второго раздела  */

}
.img_about_main{
	width: 500px;
    height: 500px;

}
.right_about{
	position: relative;
}
.img_sub1{
	width: 50px;
    height: 50px;
position:absolute ;
top: 50px;
left: 25px;
}
.img_sub2{
	width: 50px;
    height: 50px;
position: absolute;
top: 50px;
right: 25px;

}
.img_sub3{
	width: 50px;
    height: 50px;
    position:absolute ;
bottom: 50px;
left: 25px;
}
.img_sub4{
	width: 50px;
    height: 50px;
position:absolute ;
bottom: 50px;
right: 25px;
}
.about_content{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about_title{
	color: #FAFF00;
font-family: Orelega One;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin: 0;
padding: 30px;
}
.m_nav{
	color: #FBA600;
font-family: Orelega One;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ob_avtore{
	background: #555;
margin-left: auto;
}

/*стили третьего блока*/

.container_video{
	background: #2C2C2C;
	
    padding: 54px 0 94px;
}
.video_video{
	border: 40px solid #414141;
	display: block;
     margin-left: auto;
    margin-right: auto;
	border-radius: 29px;
	width: 80%;
    max-width: 900%;
height: 561.248px;

}
.video_title{
	color: #FAFF00;
font-family: Orelega One;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.gallery_list{
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}
.gallery_list{
   display: flex;
   flex-wrap: wrap;
}
.gallery_item{
   width: 50%;
   list-style: none;
   margin-top: -10px;

}
.gallery_img{
   width: 100%;
}
.gallery_title{
   color: #FAFF00;
font-family: Orelega One;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin: 0;
padding: 70px 0;
}
.gallery{
	background: #555555;
}
.footer_item{
list-style: none;
}
.footer_list{
	display: flex;
	margin-left: 500px;
}
.footer{
	background: #000;
	padding-top: 40px;
}
.footer_title{
	color: #E4E4E4;
   font-family: Montserrat;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
	margin-left:201px;
}
.footer_text{
	color: #FFF;
   font-family: Montserrat ;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 164.063%; /* 26.25px */
	margin-left:201px ;
}
.footer_img{
  width: 50px;
  height: 50px;
  padding-right: 40px;
}
.container_footer{
	display: flex;
}


